.navbar {
  background-color: ;
  margin: 3rem auto;
  border: 3px solid #4463a4;
  border-radius: 40px;
  font-size: 1.3rem;
  
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navb-link {
  transform: scale();
  border-radius: 20px;
}

.navb-link:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
  background-color: #b0d6f5;
}
